[2012-08-08 13:50] Ardesco opened #1 "Extra binaries downloaded sometimes"
If a specific version does not contain a binary for every os specified we drop back to the previous version searching for valid binaries for the missing os.  When this happens it will download binaries for the old version as well as binaries for the current version.

Not a huge problem, worst case scenario you get an extra binary.  This only happens if binaries for different operating systems are

[2012-08-08 13:50] Ardesco opened #2 "Not explicitly making the binary executable"
The zip files are downloaded successfully and the files are all extracted, however the individual executable binaries are not explicitly make executable.  This will probably cause problems on *nix based system where file are not executable by default.

[2012-08-08 14:10] #2 closed, assigned to Ardesco

[2012-09-11 22:02] #1 closed, assigned to Ardesco

[2012-09-11 22:02] Ardesco opened #3 "Maven 3 support"
Currently doesn't work with maven 3

[2012-09-11 22:02] Ardesco opened #4 "Maven 3 support"
Currently doesn't work with maven 3

[2012-09-11 22:04] #4 closed, assigned to Ardesco

[2012-11-24 22:07] #3 closed, assigned to Ardesco

[2013-10-08 22:28] Ardesco opened #5 "getEntry() doesn't seem to search through sub-directories"
The PhantomJS binary is not currently being extracted, it looks like Apache Commons .getEntry(filename) isn't searching sub directories for the file.

[2013-10-10 20:14] #5 closed, assigned to Ardesco

[2014-01-29 01:54] SherryH opened #6 "Keep the map.xml up to date"
Hi Ardesco,

This is not really a bug but more of a question.
At the moment the map.xml file needs to be maintained manually.
I was wondering if there is a way to automatically find out whether a new version of the driver is posted and update the version number and hash automatically.

Also, would you please let me know how you found the hash number for the drivers? I could only see the Etag value

[2014-01-29 09:10] Ardesco opened #7 "Make Hash Check Optional"
Make the hash check on the downloaded file optional.

Default will be to perform the hash check.

[2014-03-03 12:33] stolarczykt opened #8 "Error because of *.tar.bz2 Phantom packages."
Hi,

PhantomJS has *.tar.bz2 packages for Linux, in example: https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-1.9.7-linux-x86_64.tar.bz2

but in plugin source I see that you suppose there should be *.tar.gz packages:
ExtractFilesFromArchive.java:

[code]

and `GzipCompressorInputStream` is used.

Could you change plugin's code to accept *.tar.bz2 packages?
I've checked and only two cosmet

[2014-03-03 13:12] kowalcj0 opened #9 "add a parameter to specify for which browsers you'd like to download the driver binaries"
At the moment you can't specify for which browsers you'd like to download the driver binaries.

Cheers,
J

[2014-03-03 22:07] #6 closed, assigned to nobody

[2014-03-04 23:28] #8 closed, assigned to Ardesco

[2014-03-05 22:51] #7 closed, assigned to Ardesco

[2014-03-05 22:55] #9 closed, assigned to nobody

[2014-04-01 16:54] SiKing opened #10 "Cannot assign value 'null' (type: class java.lang.String) to protected java.util.Map com.lazerycode.selenium.SeleniumServerMojo.operatingSystems"
I am still seeing this error:
Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin:0.9.1:selenium (default) on project XYZ: Unable to parse configuration of mojo com.lazerycode.selenium:driver-binary-downloader-maven-plugin:0.9.1:selenium: Cannot assign value 'null' (type: class java.lang.String) to protected java.util.Map com.lazerycode.selenium.SeleniumServerMojo.

[2014-04-01 20:07] #10 closed, assigned to nobody

[2014-04-01 21:42] SiKing opened #11 "Plugin execution not covered by lifecycle configuration"
I upgraded driver-binary-downloader-maven-plugin version to 1.0.0. In Eclipse the pom.xml shows an error marker:
Plugin execution not covered by lifecycle configuration: com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.0:selenium (execution: default, phase: test-compile)
The project fails to build in Eclipse.

I think this was there even in previous versions, so this is not a regr

[2014-04-02 08:07] #11 closed, assigned to nobody

[2014-04-03 03:14] SiKing opened #12 "operatingSystems.linux = false, still downloads linux drivers"
I am using version 1.0.0. I have:
&lt;operatingSystems>
  &lt;windows>true&lt;/windows>
  &lt;linux>false&lt;/linux>
  &lt;osx>false&lt;/osx>
&lt;/operatingSystems>
Just tried this on my Linux machine, and it downloads the Linux binaries!?!?

Further, it errors with: ".bz2 is an unsupported archive type"

Am I doing this wrong?

[2014-04-15 17:40] SiKing opened #13 "com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.1:selenium failed. NullPointerException"
Running with version 1.0.1 (verified on Windows and Linux), produces NullPointerException.

My pom is exactly as your "Basic Usage" at http://ardesco.lazerycode.com/index.php/2012/08/introducing-the-driver-binary-downloader-maven-plugin-for-selenium/

Full stacktrace is:

[code]

[2014-04-21 14:25] #13 closed, assigned to nobody

[2014-04-21 14:29] #12 closed, assigned to nobody

[2014-04-22 14:22] SiKing opened #14 "hashes for IEDriverServer in RepositoryMap.xml are wrong"
In version 1.0.2, the md5 hashes in the RepositoryMap.xml are wrong, and so the build fails with:
[INFO] Problem downloading 'IEDriverServer_x64_2.41.0.zip'... null
[ERROR] Unable to successfully downloaded 'IEDriverServer_x64_2.41.0.zip'!

[2014-04-24 16:56] qwazer opened #15 "More verbose logging if hash is wrong"
related to issue #14

Next messages are not descriptive:

[INFO] Problem downloading 'IEDriverServer_x64_2.41.0.zip'... null
[ERROR] Unable to successfully downloaded 'IEDriverServer_x64_2.41.0.zip'!

[2014-04-24 19:21] #15 closed, assigned to nobody

[2014-04-24 19:33] #14 closed, assigned to nobody

[2014-04-30 18:02] NMichas opened #16 "Proxy support"
Hello,

Does the plugin support fetching the WebDriver when behind a proxy? On my local enivornment with appropriate proxy settings in settings.xml as well as shell http_proxy and https_proxy env variables set, it fails.

[2014-04-30 18:39] #16 closed, assigned to nobody

[2014-05-26 15:39] williamcabrera4 opened #18 "Update the repository map"
Please, can you update the repository map so we can remove the dependency to update the custom repository map.

Thanks!

[2014-06-13 14:38] #18 closed, assigned to nobody

[2014-11-04 20:11] Ardesco opened #19 "Add support for a RepositoryMap.json"
Just because json is so much nicer than xml.

[2014-11-04 20:13] Ardesco opened #20 "Zip files not being explicitly closed"
Archives are not being explicitly closed after extracting files from them.  This results in some extra log spam which isn't really needed and some auto clean up that shouldn't be relied upon.

[2014-11-04 20:13] #20 closed, assigned to Ardesco

[2014-11-07 20:24] qalf opened #21 "Automatically set webdriver system properties"
Hi

Is it possible to automatically set system properties (<a href="https://code.google.com/p/selenium/wiki/ChromeDriver#Troubleshooting">webdriver.chrome.driver</a>, <a href="https://code.google.com/p/selenium/wiki/InternetExplorerDriver#Important_System_Properties">webdriver.ie.driver</a>, <a href="https://github.com/detro/ghostdriver/blob/master/binding/java/src/main/java/org/openqa/selenium/ph

[2014-12-16 21:04] cowwoc opened #22 "Unexpected delay when downloading/extracting drivers for all platforms"
Version 1.0.4

Given the configuration:
[code]

I get this output:

[code]

However, there is a 16 second delay between when `Binary 'phantomjs' Exists: true` and `SELENIUM STAND-ALONE EXECUTABLE DOWNLOADS COMPLETE` are printed.

This delay occurs even if all drivers have already been downloaded and extracted (meaning, if you run this plugin twice in a row the second time runs just as slow as the

[2015-02-02 18:22] peidong-hu opened #23 "ProxySelector.setDefault(null); will causes failure in other maven goal's httpclient creation."
The following code in selenium-standalone-server-plugin/src/main/java/com/lazerycode/selenium/download/DetectProxyConfig.java
causes failed httpclient creation when running another program in maven with your plugin. Errors will be like, (the reason is the default proxyselector has been set to null by your plugin.)
=========================
Caused by: java.lang.NullPointerException
	at org.apache.h

[2015-03-29 15:44] #22 closed

[2015-03-29 19:06] #21 closed

[2015-03-29 19:06] #23 closed

[2015-05-11 23:31] Jun-Yang opened #24 "cannot download osx driver"
Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.7:selenium (default) on project org.bigtester.ate.core: Execution default of goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.7:selenium failed: Unrecognised operating system name 'osx' -> [Help 1]

[2015-05-12 05:38] Ardesco commented on #24
Can you provide some more information, for example your POM and your RepositoryMap.xml.  I'm not seeing this error.

[2015-05-12 20:01] Jun-Yang commented on #24
Hi  Mark,

Thanks for your answer. Please find bom file and repo.xml as attached.
Following is the detailed error information:

-------------------------------------------------------
[INFO]  DOWNLOADING SELENIUM STAND-ALONE EXECUTABLE BINARIES...
[INFO] --------------------------------------------------------
[INFO]
[INFO]
file:/C:/Users/Jun/git/automation-test-engine/org.bigtester.ate.core/brows

[2015-05-12 20:04] Ardesco commented on #24
I don't see a POM file or a repository map.xml.  If you replied to a notification e-mail my guess would be that gitHub has stripped them out.  Could you add then to the issue on GitHub please.

[2015-05-12 20:28] Jun-Yang commented on #24
POM File:
<groupId>com.lazerycode.selenium</groupId>
				<artifactId>driver-binary-downloader-maven-plugin</artifactId>
				<version>1.0.7</version>
				<configuration>

					<rootStandaloneServerDirectory>browserdriver</rootStandaloneServerDirectory>

					<downloadedZipFileDirectory>/tmp/zips</downloadedZipFileDirectory>

					<customRepositoryMap>browserdriver/repo.xml</customRepositoryMap>

[2015-05-12 20:33] Ardesco commented on #24
What operating system are you using?

[2015-05-12 20:34] Jun-Yang commented on #24
Windows 7

[2015-05-12 20:38] Ardesco commented on #24
Can you try setting:

    <operatingSystems>
        <windows>true</windows>
        <linux>true</linux>
        <mac>true</mac>
    </operatingSystems>

[2015-05-12 20:46] Jun-Yang commented on #24
Now, it works. I change <osx> to <mac>.

I dont need to change <osx> to <mac> in repo.xml?

[2015-05-12 20:48] Jun-Yang commented on #24
do I need to change in repo.xml?

[2015-05-12 20:49] Jun-Yang commented on #24
do I need to change osx to mac in repo.xml?

[2015-05-12 20:50] Ardesco commented on #24
Nope, it's a documentation bug, the RepositoryMap.xml spec hasn't changed.

Basically I forgot to check that the documentation is correct for 1.0.6 and 1.0.7.

[2015-05-12 20:50] Jun-Yang commented on #24
Ok, thanks a lot.

[2015-05-12 20:54] #24 closed

[2015-06-24 08:10] zhenghu opened #25 "Firefox driver is not support"
A very useful plugin for automating selenium testing.
But I can not figure out how to use this plugin to use firefox driver though the firefox is the default browser.

[2015-06-24 09:52] Ardesco commented on #25
FirefoxDriver does not need an external binary so there is nothing to download for Firefox.

All this plugin does is download standalone binaries and set a variable that selenium can use to locate them.

[2015-06-24 09:52] #25 closed

[2015-06-25 07:42] Ardesco opened #26 "Track currently used version of driver"
We aren't tracking the currently used version of the driver anywhere which means that we don't overwrite the binary of a new one has been downloaded.

Solution is probably going to be store a version number, or a hash of the extracted file/files somewhere so we know that we need to update.

[2015-10-17 23:21] jnyman opened #28 "Hashes are required, even if setting is disabled"
Unless I'm misunderstanding how things work, I have the following setting in place:

     <checkFileHashes>false</checkFileHashes>

This is in the `configuration` area. However, even with this in place, I still get the following error if I don't have hashes:

    Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-
    maven-plugin:1.0.7:selenium (default) on project lucid: Rep

[2015-10-17 23:45] jnyman opened #29 "Always downloads binary, even if previously downloaded"
It's not clear to me if this is an issue or not. I notice that I'll see the following output on every test run:

    [INFO] Preparing to download Selenium Standalone Executable Binaries...
    [INFO] Downloading  'chromedriver_mac32.zip'...
    [INFO] Archive file 'chromedriver_mac32.zip' is valid : true
    [INFO] Binary 'chromedriver' Exists: true

If I'm understanding this correctly, it seems l

[2015-10-18 15:07] Ardesco commented on #29
The binary will only be downloaded if there is no local copy matching the SHA1/MD5 hash in the RepositoryMap.xml.

If you store your downloaded binaries in a place that gets cleaned out (e.g. your target directory) very time the build is run then it will be downloading them every time.

I guess the fix would be to make the logging slightly clearer

[2015-10-18 15:14] Ardesco commented on #28
Originally the plugin didn't work unless the hash was valid.  The checkFileHashes option was added when some people requested a way to download files without checking the hash.

The plugin is designed to use hashes because this is how it checks that the file it has downloaded is correct.  As a result the RepositoryMap.xml has an XSD that requires the hash field to be filled in.

To get the hash of

[2015-10-18 15:15] Ardesco commented on #29
Enhancement is to improve logging to make it clearer that a file is not downloaded if one already exists.

[2015-10-26 11:43] mse-rspenceley opened #30 "Causes maven antrun to run more than once"
Hi

I'm using Maven to not only download the WebDrivers, but also to launch Selenium. My POM file contains the following:

[code]

When I run mvn test, it fires up the Selenium Hub and Node, then downloads the binaries, then tries to fire up Selenium again, obviously failing because its already running (I don't want to turn off failonerror for that). Doesn't seem to matter how I change phases, thi

[2015-10-27 14:09] Ardesco commented on #30
The binary downloader doesn't start selenium.  It only downloads binaries.

Does it try to start selenium up twice if you remove the binary downloader

[2015-10-27 14:11] mse-rspenceley commented on #30
I know it doesn't, the antrun task does that for me.

Yes, if I remove the downloader it runs twice; it runs the antrun tasks, then the downloader, then the antrun task again. Happens even if the antrun task is just 'echo Hello' or whatever

[2015-10-27 14:16] Ardesco commented on #30
So it doesn't sound like a bug the the binary downloader (or standalone server plugin) then...

I would guess that your problem could be that you are using ant to start stuff up in the test compile phase and then selenium will try and run tests in the test, or integration test has.  Some of what you have configured selenium to do may clash with what the antrun plugin is doing.

[2016-01-18 14:41] Ardesco opened #31 "Add support for the M2E plugin"
Add lifecycle mapping metadata so that the M2E plugin just works.

https://wiki.eclipse.org/M2E_compatible_maven_plugins

Related to https://github.com/Ardesco/Selenium-Maven-Template/issues/19

[2016-02-20 11:56] Ardesco opened #33 "Release version 1.0.8 of plugin with rultor"
Add ruler configuration to make releases easy.

[2016-02-20 12:02] Ardesco commented on #33
@rultor release, tag is 1.0.8

[2016-02-20 12:03] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186578256)

[2016-02-20 12:04] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186578256) (spent 2min)

[code]

[2016-02-20 13:34] Ardesco commented on #33
Let's try again.

@rultor release, tag is 1.0.8

[2016-02-20 13:35] rultor commented on #33
@ardesco I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2016-02-20 13:35] Ardesco commented on #33
@rultor release, tag is 1.0.8

[2016-02-20 13:36] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186597471)

[2016-02-20 13:36] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186597471) (spent 11s)

[code]

[2016-02-20 13:41] Ardesco commented on #33
@rultor release, tag is 1.0.8

[2016-02-20 13:42] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186598652)

[2016-02-20 13:42] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186598652) (spent 11s)

[code]

[2016-02-20 13:55] Ardesco commented on #33
@rultor release, tag is 1.0.8

[2016-02-20 13:55] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186603807)

[2016-02-20 13:56] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186603807) (spent 11s)

[code]

[2016-02-20 14:00] Ardesco commented on #33
@rultor release, tag is 1.0.8

[2016-02-20 14:00] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186605632)

[2016-02-20 14:00] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186605632) (spent 11s)

[code]

[2016-02-20 14:02] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:03] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186606095)

[2016-02-20 14:04] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186606095) (spent 1min)

[code]

[2016-02-20 14:11] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:11] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186611755)

[2016-02-20 14:13] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186611755) (spent 1min)

[code]

[2016-02-20 14:33] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:33] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186618223)

[2016-02-20 14:35] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186618223) (spent 1min)

[code]

[2016-02-20 14:41] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:42] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186619239)

[2016-02-20 14:45] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186619239) (spent 2min)

[code]

[2016-02-20 14:48] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:48] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186619991)

[2016-02-20 14:49] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186619991) (spent 1min)

[code]

[2016-02-20 14:57] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 14:57] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186621474)

[2016-02-20 14:59] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186621474) (spent 2min)

[code]

[2016-02-20 15:07] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 15:08] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186622339)

[2016-02-20 15:09] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186622339) (spent 1min)

[code]

[2016-02-20 15:10] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 15:11] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186622761)

[2016-02-20 15:13] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186622761) (spent 1min)

[code]

[2016-02-20 15:17] volkertb opened #34 "Please add support for Firefox Marionette (the "wires" binary)"
The next generation of the FirefoxDriver, currently called MarionetteDriver, also requires an external standalone server binary in order to work. The server binary is called "wires" and is available for Windows, Linux and Mac OS X.

Please add support for MarionetteDriver to this plugin, so that the "wires" executable can also be automatically downloaded by this plugin. Even though the (old/curren

[2016-02-20 15:19] Ardesco commented on #33
@rultor release, tag=`1.0.8`

[2016-02-20 15:20] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186623949)

[2016-02-20 15:22] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186623949) (spent 1min)

[code]

[2016-02-20 15:23] volkertb commented on #25
Although this is true for the current generation FirefoxDriver, it is intended to be succeeded by the MarionetteDriver, which does in fact require an external binary. I took the liberty of creating a separate issue requesting support for the MarionetteDriver: https://github.com/Ardesco/selenium-standalone-server-plugin/issues/34

[2016-02-20 15:29] Ardesco commented on #34
Having a quick, look it's going to take a bit of fiddling.

- Marionette doesn't seem to have a specific system property is check for the binary location, instead it expects you to add it to the path.
- The file you extract from the downloaded archives has the version number in the filename which makes it a little bit more awkward than the rest of the standalone drivers.

[2016-02-20 15:34] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 15:34] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186629242)

[2016-02-20 15:35] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186629242) (spent 1min)

[code]

[2016-02-20 15:38] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 15:38] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186630493)

[2016-02-20 15:40] rultor commented on #33
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/7156-186630493) (took me 1min)

[2016-02-20 15:46] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 15:47] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186631517)

[2016-02-20 15:47] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186631517) (spent 15s)

[code]

[2016-02-20 15:48] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 15:50] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186632433)

[2016-02-20 15:52] rultor commented on #33
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/7156-186632433) (took me 2min)

[2016-02-20 16:23] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 16:24] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186638993)

[2016-02-20 16:26] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186638993) (spent 3min)

[code]

[2016-02-20 22:05] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:06] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186690852)

[2016-02-20 22:07] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186690852) (spent 1min)

[code]

[2016-02-20 22:13] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:14] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186691393)

[2016-02-20 22:15] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186691393) (spent 1min)

[code]

[2016-02-20 22:20] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:21] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186692028)

[2016-02-20 22:23] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186692028) (spent 1min)

[code]

[2016-02-20 22:24] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:25] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186692513)

[2016-02-20 22:26] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186692513) (spent 1min)

[code]

[2016-02-20 22:29] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:30] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186693216)

[2016-02-20 22:31] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186693216) (spent 2min)

[code]

[2016-02-20 22:34] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:35] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186693551)

[2016-02-20 22:36] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186693551) (spent 1min)

[code]

[2016-02-20 22:41] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:41] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186693998)

[2016-02-20 22:43] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186693998) (spent 1min)

[code]

[2016-02-20 22:45] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:46] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186694234)

[2016-02-20 22:48] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186694234) (spent 1min)

[code]

[2016-02-20 22:56] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 22:57] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186697056)

[2016-02-20 22:59] rultor commented on #33
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7156-186697056) (spent 2min)

[code]

[2016-02-20 23:03] Ardesco commented on #33
@rultor release, tag is `1.0.8`

[2016-02-20 23:04] rultor commented on #33
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7156-186697832)

[2016-02-20 23:07] rultor commented on #33
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/7156-186697832) (took me 3min)

[2016-02-20 23:11] #33 closed

[2016-02-22 08:29] volkertb commented on #34
Thanks for the quick response! In reply to both of your points:

- Perhaps an upstream feature request can be opened for the MarionetteDriver to support an optional explicit binary path in a system property.
- Nothing a regular expression couldn't fix, right? :-)

[2016-02-22 08:37] Ardesco commented on #34
It shouldn't be a big deal, I've been busy moving the build stuff over to Travis and Rultor this weekend so I haven't had a change to look at it yet.

I can set a property that provides you with the marionette driver location anyway, it just won't automatically be picked up so you'll need to explicitly consume that property to set the binary location.  It's not the end of the world, it's just a li

[2016-02-23 17:08] AnthonyClink opened #35 "Setting the maven properties does not persist to the application layer."
I may be doing this wrong or have the wrong expectations... but here is the problem.

when I run the below maven configuration I do not get expected results.
Inside my project I have a class:

    public class Main{

        public static void main(String[] args){
            System.out.prinln(System.getEnv("webdriver.chrome.driver"));
        }

    }

when I run the command
mvn clean install exe

[2016-02-23 17:14] Ardesco commented on #35
The plugin exposes a maven variable that you can inject into other plugins, you would need to configure it like so:

    <plugin>
        <groupId>com.lazerycode.selenium</groupId>
        <artifactId>driver-binary-downloader-maven-plugin</artifactId>
        <version>1.0.8</version>
        <configuration>
            <rootStandaloneServerDirectory>tmp/binaries</rootStandaloneServerDirectory>

[2016-02-23 17:19] AnthonyClink commented on #35
Thank you very much for the advice and the assistance. Closing this card.

[2016-02-23 17:19] #35 closed

[2016-02-25 22:51] #30 closed

[2016-02-25 23:12] #29 closed

[2016-02-26 00:05] #34 closed

[2016-02-26 00:06] Ardesco commented on #19
Or maybe YAML, or TOML...

[2016-02-26 00:14] Ardesco commented on #34
@rultor release, tag is `1.0.9`

[2016-02-26 00:14] rultor commented on #34
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7299-189047664)

[2016-02-26 00:18] rultor commented on #34
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/7299-189047664) (took me 4min)

[2016-03-10 13:27] volkertb commented on #34
Excellent work! Thank you for implementing this so quickly. :-)

[2016-07-27 19:51] blindenvy opened #36 "Error: Unable to find any expected files for marionette"
Seeing the following error:

[code]

This issue is only experienced on windows and not on osx. For more information see https://github.com/Ardesco/Selenium-Maven-Template/issues/21

[2016-07-27 22:10] blindenvy commented on #36
I was able to reproduce the issue on my mac by adding the following configuration for the plugin:
[code]

[2016-07-28 01:00] blindenvy commented on #36
See pull request #37

[2016-08-09 07:55] #36 closed

[2016-08-09 07:57] Ardesco commented on #36
@rultor release, tag is `1.0.10`

[2016-08-09 07:57] rultor commented on #36
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9241-238480948)

[2016-08-09 08:00] rultor commented on #36
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/9241-238480948) (took me 2min)

[2016-08-11 05:29] Ardesco opened #38 "Add in support for edge driver"
Currently there is no support for edge driver, it should be added in.

[2016-08-13 13:10] #38 closed

[2016-08-13 13:14] Ardesco commented on #38
@rultor release, tag is `1.0.11`

[2016-08-13 13:14] rultor commented on #38
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9278-239620300)

[2016-08-13 13:18] rultor commented on #38
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/9278-239620300) (took me 4min)

[2016-08-16 22:36] bitwiseman opened #39 "Add support for Safari webdriver"
Safari is not listed in the BinaryType Enum

[2016-08-17 13:19] Ardesco commented on #39
Is there a downloadable SafariDriver binary yet?  It used to be built into selenium until Safari removed the ability to use unsigned plugins.  I'm not aware of a repository that you can download it from.

[2016-08-17 17:30] bitwiseman commented on #39
Here's one link:
http://selenium-release.storage.googleapis.com/2.48/SafariDriver.safariextz

It looks like the drive isn't in every release:
Does not have driver: http://selenium-release.storage.googleapis.com/index.html?path=2.47/
Has driver: http://selenium-release.storage.googleapis.com/index.html?path=2.48/
Does not have driver: http://selenium-release.storage.googleapis.com/index.html?path=2

[2016-08-17 17:34] Ardesco commented on #39
I'll have to check but I think that's around the time the binaries needed to be signed to be able to be see in safari

[2016-09-27 17:09] sgrillon14 opened #40 "Failed to download all of the standalone executables: Stream is not in the BZip2 format"
I use version 1.0.10 of plugin

sometimes, I have this bug:
[ERROR] Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.10:selenium (default) on project rapid: Failed to download all of the standalone executables: Stream is not in the BZip2 format -> [Help 1]

[INFO] Preparing to download Selenium Standalone Executable Binaries...
[INFO] Using http proxy: renn.

[2016-09-29 07:31] Ardesco commented on #40
hmm looks like the phantomjs zip format is not being recognised by the code.  I winder if the zip  library I'm using is out of data...

[2016-09-29 07:33] Ardesco commented on #39
This is not needed now.  As soon as you update to Safari 10 you will find a `/usr/bin/safaridriver` installed on your system.  I'm going to close this as a result.

[2016-09-29 07:33] #39 closed

[2016-09-29 08:00] sgrillon14 commented on #40
sometimes it works and sometimes it is wrong. Can we add a small delay between downloading and unzipping?

[2016-09-29 08:27] Ardesco commented on #40
After the file is downloaded a hash check is performed against it to check to see if the downloaded artefact is valid, so I don't think it's a problem of it trying to extract it before the download is complete.

I'll have to hunt around in the code and see what I can find.

[2016-09-29 10:13] sgrillon14 commented on #40
OK thanks,

I see

 in my logs:

[INFO] Using http proxy: renn.proxy.corp.xxxxx:8080
[INFO] Downloading 'phantomjs-2.1.1-linux-x86_64.tar.bz2'...
**[INFO] Archive file 'phantomjs-2.1.1-linux-x86_64.tar.bz2' is valid : true**
[BFA] Scanning build for known causes...
[BFA] No failure causes found
[BFA] Done. 0s

[2016-09-29 17:21] bitwiseman commented on #39
@Ardesco - what about on systems not running safari 10?  Testing only on safari 10+ is not really how Selenium is used.

[2016-09-29 19:10] Ardesco commented on #39
The only official support for Safari depends on you running Safari 10.  Apple is very good at dropping support for legacy software quickly, and they are very good at getting people to upgrade to new versions of software.  The longer you leave it the less relevant Safari 9 is going to be.

SeleniumHQ has Safaridriver 2.48.0 as the last supported version.  The most recent 2.x version of Selenium is

[2016-09-29 21:56] bitwiseman commented on #39
@Ardesco - Okay, I get it. Thanks for the explanation.

[2016-10-01 00:08] angiekollmer opened #41 "Add support for Firefox esr binaries"
My selenium project currently will not work with marionette driver.  Instead I have downloaded the exe for Firefox Extended Support Release version and I have the path to the binary hard coded and I create the firefox driver like this:

[code]

Is there a way to use this plugin for the esr binary?

[2016-10-17 12:33] kiview commented on #40
I have the same problem. It works once I use `<checkFileHashes>false</checkFileHashes>`.

[2016-10-18 13:45] Ardesco commented on #41
On pre-marionette versions of Firefox you don't need to download anything, FirefoxDriver is built into selenium.  you will however need to use an older version of Selenium if the FirefoxDriver has been removed in newer versions of Selenium.

[2016-10-24 19:57] mcdonnell-john opened #42 "Downloaded drivers are not executable."
Just found this plugin and have set it up against my project, but the drivers are not executable.

I found [1] and it seems you pushed out version 0.91 with this feature, but it seems to have disappeared?

$ ls -lrt /Users/john/codebase/project/selenium-e2e/selenium_standalone/osx/googlechrome/64bit/
total 13520
-rwxr--r--  1 john  staff  6919952 24 Oct 20:45 chromedriver

 [1]: http://ardesco.laz

[2016-10-24 20:44] Ardesco commented on #42
hmm that's strange.

Can you show me your POM and let me know what OS you are using.

[2016-10-24 20:46] mcdonnell-john commented on #42
I have added this plugin configuration at the moment:
<plugin>
                <groupId>com.lazerycode.selenium</groupId>
                <artifactId>driver-binary-downloader-maven-plugin</artifactId>
                <version>1.0.11</version>
                <configuration>
                    <rootStandaloneServerDirectory>${standalone.binary.root.folder}</rootStandaloneServerDirectory>

[2016-10-25 09:11] mcdonnell-john commented on #42
Not sure but maybe using Files.setPosixFilePermissions(Path path, Set<PosixFilePermission> perms) might be an alternative option, to using File.setExecutable()?

[2016-10-25 11:03] mcdonnell-john commented on #42
This was an error in my resourcemap file :(  Sorry.

[2016-10-25 11:03] #42 closed

[2016-10-27 08:37] Ardesco commented on #42
Glad to hear you got it sorted :)

[2016-11-10 09:53] #41 closed

[2016-12-12 16:51] rromanik opened #43 "selenium-standalone-server-plugin + surefire plugin"
Hi,

I've got a question.
Is it possible to use maven-surefire-plugin with driver-binary-downloader-maven-plugin?

In the examples [here](https://github.com/Ardesco/Selenium-Maven-Template) it is used with maven-failsafe-plugin only. And when command

`$ mvn clean verify`

is run, failsafe plugin has already got right system variables for drivers, i.e. webdriver.chrome.driver.

But if surefire plu

[2016-12-12 16:57] Ardesco commented on #43
Yup it should work fine, however you should really be using the failsafe plugin for Selenium tests.  Surefire is for unit tests that run in the test phase (surefire and failsafe are the same thing really, they just run in different phases).

If you really want to get it running in surefire you would need to add configuration that looks like this:

[code]

[2016-12-16 12:10] parag90 opened #44 "New chromedrive chrome 2 not supported"

[2016-12-16 12:51] #43 closed

[2016-12-16 12:52] Ardesco commented on #44
If you want to download a different binary you just need to create a custom repositorymap.xml  and then add the required binary (See https://github.com/Ardesco/selenium-standalone-server-plugin/blob/master/README.md)

[2016-12-16 12:52] #44 closed

[2017-02-23 15:41] skabashnyuk opened #46 "Add googlechrome driver 2.27 for osx"
Content for RepositoryMap.xml
[code]

[2017-03-11 19:42] haroon-sheikh opened #47 "Add support to read RepositoryMap from plugin dependencies."
E.g. checkstyle plugin currently allows you to read checkstyle config xml from plugin repositories.
https://www.youtube.com/watch?v=XlNbDVOzsYw

[2017-03-12 09:12] Ardesco commented on #46
The example RepositoryMap.xml has now been updated to the latest versions.

You should always of course specify your own RepositoryMap.xml so you can control which versions are downloaded for you project.

[2017-03-12 09:12] #46 closed

[2017-03-13 08:08] Ardesco opened #48 "Add the ability to specify drivers for armv7"
Currently you can't download drivers for armv7

This affects:

Geckodriver
PhantomJS

[2017-03-31 02:49] cowwoc opened #49 "Typos in log"
I noticed two minor typos in the code:

In https://github.com/Ardesco/selenium-standalone-server-plugin/blob/e6c332c0caa447de89175739c2eaff5996d02200/src/main/java/com/lazerycode/selenium/extract/FileExtractor.java#L152 please insert a space before the word `binary`.

In the previous line, please convert `Exists` to lowercase.

[2017-04-04 17:46] mpkorstanje opened #50 "Plugin causes test-compile to be executed twice"
When using selenium-standalone-server-plugin 1.0.11 bound to the initialization phase it appears that the plugin causes the build to execute test-compile twice. This is causing me some trouble as some resources from cucumber-jvm-parallel-plugin should only be generated once and appears to be related to issue #30.

First we see the build run up to initialize at which point we see:

[code]
Then we s

[2017-04-04 17:50] mpkorstanje commented on #50
Giving the source a quick look it appears that [SeleniumServerMojo](
https://github.com/Ardesco/selenium-standalone-server-plugin/blob/master/src/main/java/com/lazerycode/selenium/SeleniumServerMojo.java#L43) contains an annotation that causes the build to fork. It does not appear to be needed.

[code]

[2017-04-04 19:11] Ardesco commented on #50
You are right, that should not be there.

[2017-04-04 19:16] #49 closed

[2017-04-04 19:16] #50 closed

[2017-04-04 19:34] mpkorstanje commented on #50
Thanks for the quick fix. Cheers!

[2017-04-04 19:57] Ardesco commented on #50
@rultor release, tag is `1.0.12`

[2017-04-04 19:57] rultor commented on #50
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11324-291614063)

[2017-04-04 20:01] rultor commented on #50
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/11324-291614063) (took me 4min)

[2017-04-04 20:03] Ardesco commented on #50
@mpkorstanje it normally takes a couple of hours for it to propogate through to the maven download servers unless we are really lucky and it's a quiet time :)

You should be able to download it soon.

[2017-04-04 22:03] mpkorstanje commented on #50
Excellent. I could do with a nap anyways. Cheers again!

[2017-04-18 16:41] GadgetMan0101 opened #51 "NullPointer exception in setRepositoryMapFile()"
Using version 1.0.11

` java.lang.NullPointerException
	at com.lazerycode.selenium.SeleniumServerMojo.setRepositoryMapFile(SeleniumServerMojo.java:290)
	at com.lazerycode.selenium.SeleniumServerMojo.execute(SeleniumServerMojo.java:193)
	at org.apache.maven.plugin.DefaultBuildPluginManager.executeMojo(DefaultBuildPluginManager.java:106)`

It looks like the `checkRepositoryMapIsValid()` method sets

[2017-04-18 19:55] Ardesco commented on #51
Thanks for the bug report, one for the next release.

[2017-04-21 07:10] Hi-Fi opened #52 "Support for (standalone) browser download"
There's currently possibility to download only PhantomJS as complete browser. There're portable packages of Firefox and Google Chrome available, which could be used same way as PhantomJS in testing and same time be sure that there's no version incompatibility with Selenium.

New drivers could be at least:
- firefox (environment property pointing to firefox binary: webdriver.firefox.bin)
- googlech

[2017-04-22 07:58] Ardesco commented on #52
Sounds like a good idea

[2017-04-26 14:13] Al-Pro opened #53 "file hash doesn't coincide with expected while downloading artifact via https"
Hi all,

While I'm trying to download an artifact from local repository via https I get the following error:
[ERROR] File : 'chromedriver_linux64.zip'.
[ERROR] Expected file hash : '025a098cde0a6ad8aef53d6734979c9845bf49b5'.
[ERROR] Actual file hash   : 'fe1f6c9fb1e46f147c2ba08322f182bedc3d4103'.
[INFO] Archive file 'chromedriver_linux64.zip' is valid : false
[INFO] Problem downloading 'chromedriv

[2017-04-26 16:49] Ardesco commented on #53
If the hash is failing it means that the file you have downloaded is not the file that the plugin was expecting to download.

You can compare the files manually by doing the following:

- Download the file from https://chromedriver.storage.googleapis.com/2.29/chromedriver_linux64.zip
- Open a terminal and navigate to the directory in which the file has been downloaded
- Type `openssl sha1 chromedr

[2017-04-27 13:18] Al-Pro commented on #53
It's a magic, not less than. :)
Didn't change anything but now it works. Thank you so much and really sorry for disturbing you.

[2017-04-27 13:18] #53 closed

[2017-05-11 20:00] #47 closed

[2017-05-11 20:44] Ardesco commented on #47
@rultor release, tag is `1.0.13`

[2017-05-11 20:45] rultor commented on #47
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11665-300911660)

[2017-05-11 20:50] rultor commented on #47
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/11665-300911660) (took me 5min)

[2017-05-25 10:56] denis-anisimov opened #55 "Version 1.0.13 doesn't respect RepositoryMap.xml content."
Version 1.0.12 (by the way your Changelog file has incorrect versions, e.g. it refers to 1.13.0 instead of 1.0.13) respects the content of custom  RepositoryMap.xml :
I have only chromedriver specified there.
As a result only chromedriver is downloaded.
Version 1.0.13 downloads every windows driver even if it's not specified in the  RepositoryMap.xml .

Here is the content of the  RepositoryMap.xm

[2017-05-25 11:28] denis-anisimov commented on #55
It looks like the issue is in the plugin config.
The plugin is configured in this way:
[code]

As a result the content of the `drivers.xml` (which is in the parent directory) is completely ignored.
That's why it downloads all drivers for the given operation system. It downloads other driver than specified in the  `drivers.xml`.
So it looks like relative reference to the parent folder is the issue.

[2017-05-25 17:17] SiKing opened #56 "PhantomJS binary is not executable"
I am using just the vanilla “default usage” - nothing fancy - and version 1.0.12. Have this running on my machine (Mac) and everything works as expected.

Just ran this on my Jenkins (Linux), where I specifically need the headless PhantomJS.

The build gets stuck at:

I gave it sufficient time, like 15 minutes. I killed the build and reran it. I see:

However, then all the tests fail with:

I chec

[2017-05-25 17:55] SiKing opened #57 "version 1.0.13 causes NPE"
I am using just the vanilla “default usage” - nothing fancy. Version 1.0.13 running on either Mac or Linux produces NPE:

[code]

[2017-05-25 19:30] SiKing commented on #56
False alarm. Very sorry!
If I leave it alone and let it run longer it works just fine.

Maybe I need to give the Jenkins VM more CPU.

[2017-05-25 19:30] #56 closed

[2017-05-25 19:39] Ardesco commented on #56
15+ minutes does seem excessive to extract a tar file, I wonder if there are some more performant libraries I could use...

[2017-05-25 20:01] SiKing commented on #56
I upped the VM to 2 CPU, and things are much more reasonable now. It is a shared resource, and maybe previously something else was running on it too. The 15 minutes was not exactly a scientific test.

[2017-05-25 21:29] #55 closed

[2017-05-25 21:29] #57 closed

[2017-05-25 21:31] Ardesco commented on #51
Fixed with changes made to fix #57

[2017-05-25 21:31] #51 closed

[2017-05-25 21:34] Ardesco commented on #40
I'm unable to reproduce this, my best guess is a network connection error when trying to download the file which is resulting in a corrupt download.

In this situation we would expect the file to fail the hash check.

[2017-05-25 21:34] #40 closed

[2017-05-25 22:16] Ardesco opened #58 "Add support for downloading arm binaries (gecko driver)"
Add in support for downloading gecko driver arm binaries.

This is re:

https://github.com/Ardesco/Selenium-Maven-Template/issues/33

[2017-05-25 22:18] Ardesco commented on #58
duplicate of #48

[2017-05-25 22:18] #58 closed

[2017-05-25 22:21] #48 closed

[2017-05-25 22:22] Ardesco commented on #57
@rultor release, tag is `1.0.14`

[2017-05-25 22:23] rultor commented on #57
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11765-304140635)

[2017-05-25 22:34] Ardesco opened #59 "Perform a 1.0.14 release"
@rultor release, tag is `1.0.14`

[2017-05-26 00:24] rultor commented on #57
@ardesco @siking Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11765-304140635) (spent 2hr)

[code]

[2017-05-26 00:26] rultor commented on #59
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11766-1)

[2017-05-26 00:33] rultor commented on #59
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/11766-1) (took me 7min)

[2017-05-26 07:42] #59 closed

[2017-08-14 21:51] SiKing opened #63 "Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin (Text file busy)"
Running on Linux. First time using RepositoryMap.

pom.xml has:
[code]

RepositoryMap has:
[code]

From Jenkins I get an error:

[2017-08-14 22:04] Ardesco commented on #63
If you log onto the Jenkins build agent is it able to see:

`https://chromedriver.storage.googleapis.com/2.31/chromedriver_linux64.zip`

[2017-08-14 22:12] SiKing commented on #63
I do not have terminal access to the Jenkins machine - checking with my admin. However, if it were not able to see it, wouldn't `throwExceptionIfSpecifiedVersionIsNotFound` in the pom kick in?

[2017-08-14 23:01] Ardesco commented on #63
The error being thrown is here:

```https://github.com/Ardesco/selenium-standalone-server-plugin/blob/3b00044b28388f69e6f6acf96b0037806cebe86d/src/main/java/com/lazerycode/selenium/SeleniumServerMojo.java#L256```

[2017-08-14 23:03] Ardesco commented on #63
Looking at this implies something else has accessed the file while the plugin is trying to download it:

https://stackoverflow.com/questions/16764946/what-generates-the-text-file-busy-message-in-unix

[2017-08-14 23:11] SiKing commented on #63
Is it possible the plugin is still accessing it? Decompressing it, checking the hash, ... Also, what exactly is "it" in this case?

Without the RepoMap I do not see this error.

[2017-08-15 00:46] Ardesco commented on #63
The plugin is single threaded, it will not error if it is accessing the file itself.  The it referred to above is the file the plugin has downloaded.

If you run two instances of the plugin at the same time and they are both downloading files to the same location you may see this, but then that's would be a bigger problem because your Jenkins builds would be sharing the folder structure during bui

[2017-08-15 15:44] SiKing commented on #63
Got word back from our admin: he can download chromedriver_linux64.zip from Jenkins just fine.

[2017-08-16 22:21] SiKing commented on #63
I was able to spend some more time on this today.

First thing I discovered is that `customRepositoryMap` must contain the full path; you can use something like `<customRepositoryMap>${project.basedir}/RepositoryMap.xml</customRepositoryMap>`. If you do not have a full path (only something like `<customRepositoryMap>RepositoryMap.xml</customRepositoryMap>`), the plugin will check the supplied file

[2017-08-16 22:53] Ardesco commented on #63
The above implies that your workspace is being shared between jobs and another job is using the workspace when you are trying to extract chromedriver from the jar.

I'll have a look and see if I can reproduce this.

[2017-09-15 06:11] Hi-Fi commented on #52
Any comments? That PR should make the trick.

[2017-10-06 11:44] sparqueur opened #65 "Proxy : System variable instead of Environment variable"
Hi,

There is either an issue in the documentation or in the code.
Doc says :

In DetectProxyConfig.java :
[code]

-> It should be System.getEnv

Maybe you could have both.
I currently have to use a third party maven plugin (properties-maven-plugin) to set this variables.

Regards

[2017-11-06 04:02] #65 closed

[2017-11-06 04:08] Ardesco opened #67 "Perform a 1.0.15 Release"
@rultor release, tag is `1.0.15`

[2017-11-06 04:09] rultor commented on #67
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13328-1)

[2017-11-06 06:10] rultor commented on #67
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13328-1) (spent 2hr)

[code]

[2017-11-06 14:02] Ardesco commented on #67
@rultor release, tag is `1.0.15`

[2017-11-06 14:03] rultor commented on #67
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13328-342156966)

[2017-11-06 16:05] rultor commented on #67
@ardesco Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13328-342156966) (spent 2hr)

[code]

[2017-11-06 18:53] Ardesco commented on #67
@rultor release, tag is `1.0.15`

[2017-11-06 18:54] rultor commented on #67
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13328-342248010)

[2017-11-06 18:56] rultor commented on #67
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/13328-342248010) (took me 2min)

[2017-11-06 18:57] #67 closed

[2017-11-09 02:46] Ardesco opened #68 "1.0.15 throws a null pointer error if you don't have a proxy"
Error that has come in because we are missing a test

[2017-11-09 02:47] #68 closed

[2017-11-09 03:04] Ardesco opened #69 "Perform a 1.0.16 release"
@rultor release, tag is `1.0.16`

[2017-11-09 03:05] rultor commented on #69
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13346-1)

[2017-11-09 03:08] rultor commented on #69
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/13346-1) (took me 3min)

[2017-11-09 03:11] #69 closed

[2017-11-10 21:05] SiKing opened #70 "overwriteFilesThatExist is not working"
I just noticed that a new version was released. I updated my pom to:
[code]

A build on Jenkins says:
[code]

If I delete the `selenium` directory, then everything work fine.

[2017-11-19 15:37] haroon-sheikh opened #71 "Investigate generation of hash"
We currently use this on Linux/Windows/Mac and it's a bit of task to get hashes for each OS when a new driver becomes available.

We should investigate an easiest way to get these hashes?

[2017-11-19 22:12] Ardesco commented on #71
the only option I can think of is to have a remote file stored somewhere that tries to get pulled down by default that lists every version of the driver with appropriate hashes.

This will still go stale if it's not kept up to date.

You can turn off hash checks, but then you will not know if you have downloaded a correct file.

[2017-11-20 11:45] haroon-sheikh commented on #19
@Ardesco I've started working on this with YAML which looks a bit like this?

[code]

Are we happy with YAML? if yes, shall we deprecate xml completely and plan `2.0.0` of the plugin?

[2017-11-20 11:56] Ardesco commented on #19
I've already got a JSON fork which is what I was planning for 2.0.0.

I'm expecting the new structure to look like this:

[code]

[2017-11-20 11:57] Ardesco commented on #19
Yes I know the data is junk atm, it's just a structure example :)

[2017-11-20 12:08] haroon-sheikh commented on #19
Oh great! I'll just halt YAML then. ;)

How far are you with 2.0.0?

[2017-11-20 12:09] haroon-sheikh commented on #19
Also when versioning, we should keep http://semver.org/ in mind. E.g. Java 8 changes should really have been a breaking change.

[2017-11-20 12:16] Ardesco commented on #19
I'm aware of semver, the only reason the plugin went to java 8 only is because selenium went to java 8 only.

It's technically a breaking change, but there's no java 8 specific code in the plugin.  You could still run it with Java 7, but Selenium won't work.

 It's not really worth changing the major version number because another project changed their dependencies.  nothing has really changed in

[2017-11-25 01:50] mpkorstanje commented on #19
While the plugin is not using any java 8 features it is compiled using the java 8 class file format (major version 52). This is not understood by java 7 (major version 51). You can however use java 7 compiled code in java 8.

As long as the project using selenium is using java 8 I would expect selenium to keep on working. So I am not sure why this was done in the first place.

That aside, major ve

[2017-11-27 10:14] Ben-Mark opened #72 "Won't download specific drivers mentioned on RepositoryMap.xml"
My goal is to download specific drivers only.
I thought by mentioning on the RepositoryMap.xml my desired drivers, it would only download them.
instead it downloads them all

What am I doing wrong?
Is this a bug? #

[2017-11-27 10:58] Ardesco commented on #72
Can you paste your plugin config

[2017-11-27 11:00] Ben-Mark commented on #72
even though I proveded the RepositoryMap.xml
Do I need to provide as well the following configuration: ???
 <getSpecificExecutableVersions>
                    <googlechrome>18</googlechrome>
 </getSpecificExecutableVersions>

etc..?

[2017-11-27 11:14] Ardesco commented on #72
The way the plugin is configured will determine which parts of the RepositoryMap.xml is read and which files are downloaded.

If you share the plugin config you have in your POM file I can see what settings you have and I can try and reproduce your problem.

[2017-11-27 14:02] jedi-tester opened #73 "Getting NPE when trying to download binaries"
RepositoryMap.xml;
[code]

Plugin config:
[code]

Exception trace:
[code]

[2017-11-27 14:12] jedi-tester commented on #73
Sorry, this is not an issue - had to explicitly set 'useSystemProxy' to 'false' and it worked.

[2017-11-27 14:52] #73 closed

[2017-12-12 16:17] Ben-Mark commented on #72
solved it by changing to the version 1.0.16

[2017-12-12 16:19] Ben-Mark opened #74 "webdriver environemnt properties"
When building the project I get an output of all drivers getting a specific maven property
But when trying to get to one of them, i get null ..

My goal is to set the webdriver path via pom, or if I can't then to somehow access to those props

[INFO] Setting maven property - ${webdriver.ie.driver} = C:\Projects\folder\Automation-infra\src\test\resources\selenium_standalone_binaries\windows\interne

[2017-12-12 21:57] Ardesco commented on #74
You can use the following repository as an example:

https://github.com/Ardesco/Selenium-Maven-Template

Specifically this part for setting system properties for your tests using the maven variables in the POM file:

https://github.com/Ardesco/Selenium-Maven-Template/blob/master/pom.xml#L182

[2017-12-12 21:58] #72 closed

[2017-12-12 23:06] Ben-Mark commented on #74
[code]

[2017-12-12 23:10] Ben-Mark commented on #74
I've tried the maven-exec-plugin to catch those maven properties of the webdriver paths and failed
failsafe also failed

nothing would let me grab the System.getProperty("webdriver.chrome.driver");
or System.getenv("webdriver.chrome.driver");

Thought it might be auto set during maven build... nope...

Thanks in advance,
Ben

[2017-12-13 10:04] Ardesco commented on #74
What is the name of your test file?

Is it in the format `myTestIT`?

[2018-01-12 23:21] SiKing opened #75 "unable to pass javax.net.ssl.trustStore into the plugin"
At my work, security uses SSL packet inspection - all machines (browsers) had to have an internal certificate installed in order to be able to get to secure websites.

Specifically in Maven, I have to pass in `-Djavax.net.ssl.trustStore=trust.jks -Djavax.net.ssl.trustStorePassword=pass` in order to get Maven to download dependencies from secure sites.

selenium-standalone-server-plugin ignores the

[2018-01-15 08:29] Ardesco opened #77 "Perform a 1.0.17 Release"
@rultor release, tag is `1.0.17`

[2018-01-15 08:30] rultor commented on #77
@ardesco OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13699-1)

[2018-01-15 08:33] rultor commented on #77
@ardesco Done! FYI, the full log is [here](http://www.rultor.com/t/13699-1) (took me 3min)

[2018-01-16 10:12] mraphael2101 commented on #24
Works like a treat.

[2018-01-28 20:21] #77 closed

[2018-04-12 13:50] Purus opened #82 "NullPointerException for an (formatted) Valid URL"
**Error :**

[code]

I am having the below driver mapping.

[code]

Below is the plugin info in pom.xml file.

[code]

Formatting the URL to remove the query parameters(example :   https://git.sample.com/selenium-web-drivers/raw/windows/ie/3.9/IEDriverServer-win64.zip) produces the below exception.

[code]

The file is a valid zip file and can extract manually.

[2018-04-13 09:40] Ardesco commented on #82
The URL https://git.sample.com/selenium-web-drivers/raw/windows/ie/3.9/IEDriverServer-win64.zip does not work for me at all so I can't look at the zip file to see how it has been encoded.

It's possible the zip library I'm using doesn't like the way the zip file has been built.

[2018-04-13 12:05] mpkorstanje commented on #82
@Purus can you include the stacktrace produced by running maven with the `--errors`

[2018-04-14 14:10] Ardesco commented on #74
The plugin set a maven variable as part of the build.  You can then use this maven variable to set a system property in the test JVM created by maven surefire/failsafe (or whatever other test runner you are using).

Maven does not provide the ability for processes running in different phases to share system properties, you can only share maven variables.

[2018-04-14 14:11] #71 closed

[2018-04-14 14:17] #52 closed

[2018-06-26 12:33] yahmedov opened #83 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder""
I just tried using `WebDriverManager.chromedriver().setup();`
to handle the chromedriver, instead of downloading it and setting its path.

The WebDriverManager seems to be working fine, but I'm getting

SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

Do i really need SLF4J and how can I fix the error?

[2018-06-26 15:38] Ardesco commented on #83
I think you want https://github.com/bonigarcia/webdrivermanager

[2018-06-26 15:38] #83 closed

[2018-06-26 16:00] yahmedov commented on #83
I was asking how to fix an issue with https://github.com/bonigarcia/webdrivermanager
why are you just copy pasting the link?

Is this how you support your code, that's lame.

[2018-06-26 16:05] Ardesco commented on #83
That's not my code, it's an entirely different project.  I've tried pointing you to the correct place to answer questions about that code.

The code in this repository is a maven plugin that downloads driver binaries for you.  If you are using webdrivermanager you do not need to use a maven plugin to download binaries.

[2018-06-26 16:13] yahmedov commented on #83
Ah, ok then.
No idea why i submitted the issue here.

[2018-07-12 00:00] SchlauFuchs opened #84 "maven property is not forwarded into forked execution"
Hi,

I have set up my project to extract the latest chrome driver, and I got confirmation
`[INFO] Setting maven property - ${webdriver.chrome.driver} = C:\Users\my\Documents\eclipse-workspace\app\binaries\windows\googlechrome\64bit\chromedriver.exe
`
Then maven is set to execute a spring-boot application. (`spring-boot:run`).  This then complaints that either the variable `webdriver.chrome.driver`

[2018-08-20 07:17] Ardesco commented on #84
Can you upload a minimal POM file showing your problem so I can have a look at it?

[2018-11-09 21:02] stdunbar opened #86 "Allow dynamic disable of plugin"
I'd like to be able to selectively disable the download of all drivers.  Use case is running against Browserstack.  In that case there is no need to download anything locally.  Perhaps a system property (-D on the command line) or an environment variable.

[2018-11-09 21:07] stdunbar commented on #86
Of course, I can just set up a profile to disable it.  Closing issue.

[2018-11-09 21:07] #86 closed

[2019-01-04 12:21] bigbasti opened #87 "Not possible to set proxy settings on linux because ob . in the name"
It is not possible to export the environment variables http.proxyHost and http.proxyPort on linux where our CI runs because of the dots in the name.

Is there a workaround to use these variables on linux?

[2019-01-25 13:07] Zsuark opened #88 "Minor correction to README.md"
In README.md:

**How do I get the SHA1/MD5 hases for the binaries I ant to download?**

should be:

**How do I get the SHA1/MD5 hashes for the binaries I want to download?**

[2019-02-20 09:17] Ardesco commented on #87
bug that needs to be fixed

[2019-02-20 09:18] Ardesco commented on #74
Closing this down as it's been inactive for ages

[2019-02-20 09:18] #74 closed

[2019-02-20 09:19] Ardesco commented on #82
Closing down as this has been inactive for ages and I don't have the file in question to debug.  Feel free to reopen if you can provide that file

[2019-02-20 09:19] #82 closed

[2019-07-30 11:54] enver-haase opened #89 "Need to propagate driver location to Java"

[2019-07-30 12:34] enver-haase commented on #89
I would need to configure the maven-failsafe-plugin:

         <configuration>
                <trimStackTrace>false</trimStackTrace>
                <systemPropertyVariables>
                    <root.route>${project.artifactId}-${project.version}</root.route>

                    <webdriver.chrome.driver>webdriver/${os.name}/googlechrome/64bit/chromedriver</webdriver.chrome.driver>

[2019-07-30 12:36] enver-haase commented on #89
I am very confused:
selenium-standalone-server-plugin
is the same as
driver-binary-downloader-maven-plugin
?

[2019-07-30 13:30] Ardesco commented on #89
yes it's the same plugin, I decide the name wasn't very accurate before I published it to maven, but I never got around to changing the repo name (something I must do).

The plugin stores the location of the binary that it downloaded in a maven variable that you can use to configure your maven-failsafe-plugin properties, so your configuration should look like this:

[code]
This maven property that

[2019-07-30 21:38] enver-haase commented on #89
I see. Now, I have a project with JUnit4 here where this setting works and one with JUnit5 where it doesn't.  Is this a known incompatibility?  The problem seems to be with the failsafe plugin not propagating the <webdriver.chrome.driver>path</webdriver.chrome.driver> in its <systemPropertyVariables> at all.

[2019-07-31 08:26] Ardesco commented on #89
It's not a known incompatibility, and I'm surprised to be honest. If the maven-failsafe-plugin is failing to create system properties passed into the JVM it should fail no matter what version of jUnit you are using, and it should work whatever libraries you are using.

Are you using the maven-failsafe-plugin for both your jUnit4 and jUnit5 projects, or are you using the maven-surefire-plugin for o

[2019-08-09 19:39] SiKing commented on #70
Spent time researching something slightly related. I discovered that the above situation just prints the two ERROR lines, but continues to work as expected.

[2019-08-09 19:39] #70 closed

[2019-08-09 19:43] SiKing commented on #63
I got bit by this today, again. Spent some time researching this issue.
The root of the problem was that on Jenkins we still had hanging threads running chromedriver from previous cancelled jobs. If I fist ran `pkill -9 chromedriver` before my job, then everything worked as expected.
I feel like this is not a problem with the binary-downloader plugin, but more of a problem with chromedriver.

[2019-08-09 19:43] #63 closed

[2019-08-10 08:03] Ardesco commented on #63
I would concur :)

[2019-08-12 07:39] ManuelB opened #90 "Mark all goals as thread-safe"
We are using parallized maven builds (mvn -T1C). We do not experience any issues but we are currently getting the following Warning:

[code]

Is it possible to add @threadSafe to the selenium goal?

[2019-08-12 10:08] Ardesco commented on #90
The plugin is not thread safe.  It uses a static download location, and it extracts binaries to a single location, if multiple instances of the plugin try to download/extract at the same time you could end up with corrupted downloads/binaries.

[2019-08-12 14:21] ManuelB commented on #90
@Ardesco I reviewed the mentioned parts and added synchronized blocks.

https://github.com/ManuelB/driver-binary-downloader-maven-plugin/commit/833c0ee571a6b115c02256888714fef582c3fc7c

We are already running the plugin for multiple month with mvn -T1C and it works without problems.

Is there anything else that I have to do?

[2019-08-12 16:06] mpkorstanje commented on #90
This may be worth reviewing: https://cwiki.apache.org/confluence/display/MAVEN/Parallel+builds+in+Maven+3

[2019-08-12 18:15] Ardesco commented on #90
To start off with, the fact you have had no problems running with multiple threads over x period of time does not mean that the plugin is thread safe, it just means you haven't got unlucky yet.

Making the code thread safe is rarely as simple as sticking a synchronised keyword in a few places, all you are doing is forcing the code to queue up multiple requests that will be executed in a single thr

[2019-08-12 18:28] ManuelB commented on #90
@Ardesco thanks a lot for your description. I think I won't get the time from my employer to do the necessary work. For now I will just ignore the warning.

[2019-11-15 03:20] StuporHero opened #92 "Any chance you could push a release?"
It's been almost 2 years since 1.0.17, and I could really use firefox support. I can throw some bucks your way, too, since this is for a commercial project.

[2019-11-15 03:53] StuporHero opened #93 "Misbehavior with shortened URLs"
The latest version of the Internet Explorer driver uses shortened google URLs (e.g. `https://goo.gl/AtHQuv`). From the browser, the file downloads with the name `IEDriverServer_x64_3.14.0.zip`, but this plugin is naming the downloaded file `AtHQuv` which is causing it to fail to identify the type of archive it is trying to extract leading to the following error in the Maven output:

[code]

I insp

[2019-11-15 12:00] Ardesco commented on #92
Geckodriver (Firefox) support has been in since 2016.  What specific problem are you having around Firefox?

[2019-11-15 12:02] Ardesco commented on #93
In general the libraries used to do this could probably be swapped out for something much newer and more reliable.  As a temporary workaround you can put the resoled URL in your RepositoryMap.xml.

[2019-11-25 17:38] Ardesco commented on #92
@StuporHero any update on this?  What is your specific problem?

[2019-11-25 18:12] StuporHero commented on #92
@Ardesco There is no Firefox support in 1.0.17. It was added after. See [1.0.17 BinaryType.java](https://github.com/Ardesco/driver-binary-downloader-maven-plugin/blob/1.0.17/src/main/java/com/lazerycode/selenium/repository/BinaryType.java) and [master BinaryType.java](https://github.com/Ardesco/driver-binary-downloader-maven-plugin/blob/master/src/main/java/com/lazerycode/selenium/repository/Binar

[2019-11-25 22:22] Ardesco commented on #92
I think I understand, you are talking about downloading a copy of Firefox the browser, not firefoxdriver (Marionette, or wires).

[2019-11-26 02:48] StuporHero commented on #92
Yes.

[2019-11-27 10:23] Shebeok opened #94 "Facing SunCertPathBuilderException: unable to find valid certification path to requested target"
Failed to execute goal com.lazerycode.selenium:driver-binary-downloader-maven-plugin:1.0.17:selenium (default) on project e2e-tests: Failed to download all of the standalone executables: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target -> [Help 1]

[2019-12-03 20:49] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2019-12-03 20:51] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-561350768)

[2019-12-03 20:54] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-561350768) (spent 2min)

[code]

[2019-12-03 21:14] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2019-12-03 21:15] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-561359716)

[2019-12-03 21:16] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-561359716) (spent 16s)

[code]

[2019-12-03 21:27] Ardesco commented on #92
Going to have to investigate more at the weekend

[2019-12-06 19:07] ravaiyapuri opened #95 "Not able to download the latest Chrome Edge Driver Binary"
It looks like the list of BinaryTypes (for possible names) does not include the latest Chromium based Edge. The Driver binary name is msedgedriver.

[2020-02-16 11:54] Ardesco commented on #95
Fixed by https://github.com/Ardesco/driver-binary-downloader-maven-plugin/commit/cb0278e93317251c42f37f55e4ae914ef8832924

[2020-02-16 11:54] #95 closed

[2020-02-16 11:56] #88 closed

[2020-02-16 12:01] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 12:02] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586698269)

[2020-02-16 12:03] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586698269) (spent 15s)

[code]

[2020-02-16 12:38] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 12:39] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586701770)

[2020-02-16 12:40] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586701770) (spent 16s)

[code]

[2020-02-16 14:52] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 14:53] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586715715)

[2020-02-16 14:53] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586715715) (spent 15s)

[code]

[2020-02-16 15:00] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 15:02] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586716526)

[2020-02-16 15:02] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586716526) (spent 17s)

[code]

[2020-02-16 15:13] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 15:15] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586718023)

[2020-02-16 15:16] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586718023) (spent 16s)

[code]

[2020-02-16 15:41] Ardesco commented on #92
looks like Rultor is failing to decrypt the files at the moment, not sure why to be honest.  I've regenerated the GPG key on this side, I've re-encrypted all the files and tried using different docker containers.  Always failing at the same point which would appear to be a bad passphrase for the Rultor decryption part.

[2020-02-16 15:43] Ardesco commented on #92
@rultor release, tag is 1.0.18

[2020-02-16 15:44] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586720827)

[2020-02-16 15:45] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586720827) (spent 16s)

[code]

[2020-02-16 15:48] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 15:48] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586721291)

[2020-02-16 15:51] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586721291) (spent 2min)

[code]

[2020-02-16 15:59] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 16:01] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586722571)

[2020-02-16 16:03] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586722571) (spent 2min)

[code]

[2020-02-16 16:06] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 16:07] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586723373)

[2020-02-16 16:10] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586723373) (spent 2min)

[code]

[2020-02-16 16:15] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 16:16] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586724279)

[2020-02-16 16:22] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586724279) (spent 6min)

[code]

[2020-02-16 16:39] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 16:40] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586726596)

[2020-02-16 16:46] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586726596) (spent 6min)

[code]

[2020-02-16 16:50] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 16:51] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586727699)

[2020-02-16 16:57] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586727699) (spent 6min)

[code]

[2020-02-16 18:24] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 18:26] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586736817)

[2020-02-16 18:32] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586736817) (spent 6min)

[code]

[2020-02-16 18:53] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 18:54] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586739865)

[2020-02-16 19:01] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586739865) (spent 6min)

[code]

[2020-02-16 19:08] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 19:09] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586741346)

[2020-02-16 19:15] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586741346) (spent 6min)

[code]

[2020-02-16 21:29] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 21:31] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586756330)

[2020-02-16 21:33] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586756330) (spent 2min)

[code]

[2020-02-16 21:50] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 21:51] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586758249)

[2020-02-16 21:57] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586758249) (spent 6min)

[code]

[2020-02-16 21:59] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 22:01] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586759052)

[2020-02-16 22:04] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586759052) (spent 2min)

[code]

[2020-02-16 22:20] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-16 22:22] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586761048)

[2020-02-16 22:24] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586761048) (spent 2min)

[code]

[2020-02-17 09:15] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 09:17] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586891933)

[2020-02-17 09:20] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586891933) (spent 2min)

[code]

[2020-02-17 09:24] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 09:26] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586896400)

[2020-02-17 09:29] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586896400) (spent 2min)

[code]

[2020-02-17 09:57] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 09:58] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586909827)

[2020-02-17 10:01] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586909827) (spent 2min)

[code]

[2020-02-17 10:24] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 10:26] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586922180)

[2020-02-17 10:29] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586922180) (spent 2min)

[code]

[2020-02-17 13:17] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 13:18] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586989109)

[2020-02-17 13:21] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586989109) (spent 2min)

[code]

[2020-02-17 13:32] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 13:33] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-586995117)

[2020-02-17 13:36] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-586995117) (spent 2min)

[code]

[2020-02-17 13:59] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 14:00] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-587006673)

[2020-02-17 14:03] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-587006673) (spent 2min)

[code]

[2020-02-17 14:08] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 14:10] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-587010555)

[2020-02-17 14:13] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-587010555) (spent 2min)

[code]

[2020-02-17 14:24] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 14:26] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-587017900)

[2020-02-17 14:30] rultor commented on #92
@ardesco @stuporhero Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20984-587017900) (spent 4min)

[code]

[2020-02-17 14:37] Ardesco commented on #92
@rultor release, tag=`1.0.18`

[2020-02-17 14:38] rultor commented on #92
@ardesco OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20984-587023625)

[2020-02-17 14:43] rultor commented on #92
@ardesco Done! FYI, the full log is [here](https://www.rultor.com/t/20984-587023625) (took me 4min)

[2020-02-17 14:44] #92 closed

[2020-04-14 16:16] LeeBreisacher opened #96 "always downloads even if files already exist"
The plugin seems to download files every time it is run, even if I just ran it moments ago. I tried using overwriteFilesThatExist, but doesn't seem to make any difference. Is this just how it works, or am I missing something?

[2021-03-30 13:58] nsirbu commented on #96
Works fine for me (Windows 10).
What OS are you on?

[2021-05-21 11:16] Artur- opened #104 "Does not work with Java 16"
Trying to use this with Java 16 results in
[code]

originating in `	at com.lazerycode.selenium.repository.FileRepository.buildDownloadableFileRepository(FileRepository.java:16)`

[2021-06-10 10:07] timscriptov opened #106 "Jar execute"
How usef jar? Cmd

[2021-06-10 10:13] TimScriptov commented on #106
I need to connect a dependency loader to my compiler (Android IDE)

[2021-07-27 05:55] tarekoraby commented on #104
This error seems fixable by moving this plugin to the `<pluginManagement>` tag to the `pom.xml` (see https://stackoverflow.com/questions/6352208/how-to-solve-plugin-execution-not-covered-by-lifecycle-configuration-for-sprin)

[2022-01-21 21:14] MichaelRijsdijk opened #115 "System architecture is not set to ARM on M1 mac"
System architecture is not set to ARM on M1 mac.
Logging shows "aarch64" as architecture, but this is not a valid match for arm:

private static List<String> architectureArmNames = Arrays.asList("arm", "armv41");

When forcing arm binaries "-DarmBinaries=true" it does download the correct binary, but the rest of the code still thinks it is a standard 64bit architecture.

[2022-01-21 21:17] MichaelRijsdijk commented on #115
I created a PR https://github.com/Ardesco/driver-binary-downloader-maven-plugin/pull/114

PR doesn't seem to fix it, it recognises the aarch64 as systemarchitecture, but it can't create the correct drivercontext:

[WARNING] No driver contexts detected for the current operating system, no maven properties set!

[22:27:30,628 INFO][TID 20][c.l.s.c.DriverFactory.instantiateWebDriver] Local Operating